body {
    background-color: #333;
    color: white;
    margin: 0;
    font-family: sans-serif;
}

.contacts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contacts .avatar img {
    height: 3em;
    display: table-row;
}
.contacts .avatar .status {
    width: 0.4em;
    height: 0.4em;
    /* display: inline-block; */
    border-radius: 0.4em;
    float: right;
    margin-top: -0.6em;
}
.status.off {
    border: 1px solid #777;
    background-color: #444;
}
.status.on {
    border: 1px solid lightgreen;
    background-color:green;
}
.contacts .info {
    display: table;
    padding: 0.3em;
}
.contacts .info .name {
    display: table-row;
}
.contacts .info .message {
    display: table-row;
}
.contacts .table {
    display: table;
}
.contacts .table-row {
    display: table-row;
}
.contacts .table-cell {
    display: table-cell;
    vertical-align: middle;
}

